header {
    width: 100vw;
    height: 6vh;
    background-color: #1e1e1e;
    border-bottom-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
}

/* Logo styles */
header img {
    width: 50%;
    margin-left: 1em;
    max-height: 6vh;
}

/* Adjustment to spacing */
.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1e1e1e;
}

 /* Navigation and buttons container */
.header-content {  
    display: flex;
    align-items: center;
    gap:10px;
}

/* Search bar styles */
.search-bar {
    flex-grow: 1;
    max-width: 300px;
    display: flex;
    align-items: center;
    /* background-color: white; */
    border-radius: 4px;
    padding: 5px;
}

.search-bar input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    /* background-color: #007bff; */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
button {
    width: 6em;
    height: 2.5em;
    margin: 0.5em;
}


/* Nav styles specific to the header */
header nav ul p {
    display: none;
}

header ul, header nav {
    display: inline;
}

header li {
    margin: 0.5em;
} 
