div#book-container {
    background-color: var(--light-primary-color);
    margin: 5%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 1em;
}

div#book-info-container {
    padding: 1em;
}

div#book-image {
    background-color: var(--dark-accent-color);
    width: 40vw;

}
div#book-image img {
    border-radius: 8px;
}

div#book-info-container h1 {
    color: var(--main-color);
    font-size: 2em;
}

div#book-info-container h2 {
    color: var(--light-accent-color);
    float: left;
}

div#book-info-container p {
    color: var(--secondary-font-color);
    float: left;


}

div#book-info-container p#description {
    border-top-width: thin;
    border-width: thin;
    border-top: grey;
    font-size: 0.8em;
    clear: both;
    margin-top: 1em;
    padding-top: 1em;
}

