div#category-book-box {
    background-color: #eaeee6d4;
    margin: 1em;
    padding: 1em;
    float: left;
    height: 10em;
    width: 25%;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    justify-items: center;
    align-content: center;
}

div#category-book-box > * {
    color: var(--secondary-font-color)
}

a#author-link, a#description-link {
    color: var(--light-accent-color)
}

/* Book image and image container styles */
div#book-image-container {
    background-color: #82958453;
    border-radius: 10px;
    width: 90%;
    display: flex;
    align-items: center;
}

a#image-link img {
    width: 80%; 
    border-radius: 10px;
}

h4 {
    font-size: small;
    margin: 0;
    padding: .25em 0 1em 1em
}

a#title-link h3 {
    font-size: medium;
    color: var(--main-color);
}

div#book-info-container p {
    font-size: small;
    display: block;
    border-top-style: solid;
    border-width: thin;
    border-color: grey;
    padding-top: 1em;
    border-width: 70%;
}

