/* Styles for the form's container*/
div#competition-form {
    color: var(--secondary-font-color);
    width: 60vw;
    height: max-content;
    border-radius: 10px;
    float: center;
    margin: 13% 39%;
}

/* Styles for the form itself */
form#create-comp {
    background-color: var(--light-primary-color);
    padding: 1.5em;
    border-radius: 8px;
    display: flex;
    flex-direction: column
}

div#competition-form form label {
    display: block;
    text-align: left;
    padding-top: 1em;

}

input#comp-name, input#end-date {
    height: 2em;
    margin-bottom: 1em;
    border-radius: 8px;
    color: grey;
    background-color:white;
    border: none;
    padding-left: 1%;
    font-size: 1em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

input:focus {
    outline-color: var(--light-accent-color);
}

form#create-comp h2 {
    align-self: center;;
}


input#comp-name {
    width: 50%;
}

form#create-comp ul#book-list {
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
}

ul#book-list li {
    display: grid;
}

form#create-comp div.books-section {
    border-style:solid;
    border-width: thin;
    border-color: black;
    border-radius: 8px;
    padding: 1em;
}

form#create-comp div.books-section {
    display: flex;
    flex-direction: column;
}

div.books-section div#header {
    display: flex;
    justify-content: space-between;

}

div.books-section div#header a, div#bottom-container a {
    color: #6c63ff;
    display: block;;
}


div#competition-form button.primary {
    width: 30%;
    height: 3.5em;
    font-weight: bold;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4);
    align-self: self-end;

}

div#competition-form div.books-section {
    border-top-style: solid;
    border-width: thin;
    border-color: grey;
    padding: 1em;
}

div#competition-form div.book-box {
    background-color: #2b2b3b;
    border-radius: 8px;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    min-width: max-content;
    width: 8rem;
    margin: 1em;
    padding: 1rem 0.5rem;
    text-align: center;
    color: #ffffff;
  }

  button.primary.remove {
    min-width: max-content;
  }

  
  div#cancel-icon {
    display: flex;
    justify-content: flex-end;
  }

