/*styles for the top of the home page*/
div#home-container-top {
    background-color: var(--light-primary-color);
    color: var(--secondary-font-color);
    height: 29vh;
    width: 95vw;
    text-align-last: center;
    align-content: center;
    padding-top: 1em;
    margin-top: 1vh;
}

div#home-container-top h1 {
    font-size: 3.5em;
}

div#home-container-top h2{
    color: var(--light-accent-color);
    padding-top: 1%;
    font-weight: normal;
}
/* end styles for top of home page*/


/*Styles for the bottom of the home page*/
div#home-container-bottom {
    background-color: var(--light-primary-color);
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

div#description-review-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0 1% 0;
}

div#site-description-container {
    background-color: var(--dark-accent-color);
    padding: 2%;
    border-radius: 8px;
    width: max-content;
    height:max-content;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

div#site-description-container h3 {
    font-size: 1.5em;
}

/*Example review styling*/
div#example-review-container-background{
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 1%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

div#example-review-container {
    background-color: var(--light-primary-color);
    padding: 0.75em;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    align-items: center;
    max-width: 26vw;
    height: max-content;
}

div#book-image-container {
    background-color: #82958453;
    border-radius: 8px;
    padding: 0;
    width: max-content;
    height: max-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#book-image-container img {
    padding: 0.75em;
}

div#example-review-container h3 {
    color: var(--main-color);
    font-size: 1em;
}
div#example-review-container h4 {
    color: var(--light-accent-color);
    font-size: 0.75em;
    display: inline;
    padding-left: 0.5em;
}

div#review-info {
    padding-left: 0.5em;
}

div#review-info p {
    color: var(--secondary-font-color);
    padding-bottom: 0.5em;
    font-size: 0.75em;
}

div#review-content {
    width: 100%;
    border-top-style: solid;
    border-width: thin;
    margin: 0.25em 0 0 0;
    padding: 0.25em 0 0 0;
    border-color: grey;
    display: inline;
    float: left;
}

p#review-content {
    clear: both;
    display: block;
}

h5#username{
    padding: 0.25em 0.5em 0 0;
    color: var(--light-accent-color);
    font-size: 0.75em;
    margin: 0;
    width: max-content;
    float: left;
}


/*Call to action styling */
div#cta-buttons {
    text-align: center;
    padding-top: 1%;
}

div#cta-buttons p {
    color: var(--secondary-font-color)
}


