div.container.review {
    min-width: 40vw;
    max-width: max-content;
    min-height: 5vh;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    margin: 1em;
}

div#star-rating {
    display: block;
    float: right;
}

div#review-content-top h5 {
    color: var(--light-accent-color);
    margin: 0;
    display: inline;
    padding-left: 0.5em;
}

div#review-content-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

p#review-text {
    width: 100%;
    border-top-style: solid;
    border-width: thin;
    border-color:rgb(166, 166, 166); 
    padding-top: 0.5em;
    color: var(--secondary-font-color);
    padding-bottom: 0.5em;
    font-size: 0.75em;
    clear: left;
    height: 2em;
    display: block;
}


div.review-data{
    width: 100%;
}

svg.delete-icon {
    padding-left: 0.5em;
}